.button {
    height: 30px;
    width: 240px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 30px;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #FF8383;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }


  .shorten_address{
    height: 30px;
    width: 240px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 30px;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }

  .p-txt {
    z-index: 1;
  }
  
  .type2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #FF8383;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .shorten_address:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type2:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }